<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="info-header">All Courses</h1>
    <div id="course-index" class="ui four stackable cards">
        <% if (courses.length > 0) { %>
            <% courses.forEach((course) => { %>
                <div class="ui card">
                    <div class="content">
                      <div class="ui blue medium header"><i class="<%=course.icon%> icon"></i><%=course.name%></div>
                      <div class="meta right floated"><i class="user icon"></i><%=course.students.length%></div>
                    </div>
                    <div class="content">
                    <h4 class="ui header">Course Objectives</h4>
                    <div class="description">
                        <%=course.description.substring(0, 130)%>...
                    </div>
                    </div>
                    <div class="extra content">
                        <form action="/courses/<%=course._id%>/enroll/<%=currentUser._id%>" method="POST">
                            <div class="ui two buttons">
                                <input type="submit" value="Enroll Now" class="ui blue button">
                                <a href="/courses/<%=course._id%>" class="ui basic blue button">Learn More</a>
                            </div>
                        </form>
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <h3>No courses are currently available.</h3>
        <% } %>
    </div>
</div>
<%- include("../partials/footer.ejs") %>