<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="info-header">Course Information</h1>
    <div id="show-class" class="ui segment">
        <div class="ui grid stackable">
            <div class="twelve wide column">
                <h2><i class="<%=course.icon%> icon"></i><%= course.name %></h2>
                <p><i class="user icon"></i>Taught by <%= course.instructor %></p>
                <p><i class="question icon"></i>Course Objectives: <%= course.description %></p>
                <form action="/courses/<%=course._id%>/enroll/<%=currentUser._id%>" method="POST">
                    <a href="/courses/<%=course._id%>/assignments" class="ui green basic button">View Assignments</a>
                    <input type="submit" value="Enroll Now" class="ui blue basic button">
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>