<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="info-header">Enrolled Students</h1>
    <div id="student-index" class="ui four stackable cards">
        <% if (students.length > 0) { %>
            <% students.forEach((student) => { %>
                <div class="card">
                    <div class="content">
                        <div class="header"><i class="user icon"></i><%= `${student.first} ${student.last}` %></div>
                        <div class="description"><%= student.bio.substring(0, 30)%>...</div>
                    </div>
                    <a class="ui bottom teal attached button" href="/students/<%= student._id%>"><i class="eye icon"></i>view</a>
                </div>
            <% }) %> 
        <% } else { %>
            <h3>No students found for this course.</h3>
        <% } %>
    </div>
</div>
<%- include("../partials/footer.ejs") %>