<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="ui header">Enrolled Students</h1>
    <hr>
    <div id="student-index" class="ui grid cards">
        <% if (people.length > 0) { %>
            <% people.forEach((person) => { %>
                <div class="card">
                    <div class="content">
                        <div class="header"><i class="user icon"></i><%= `${person.first} ${person.last}` %></div>
                        <div class="description"><%= person.bio.substring(0, 30)%>...</div>
                    </div>
                    <a class="ui bottom teal attached button" href="/students/<%= person._id%>"><i class="eye icon"></i>view</a>
                </div>
            <% }) %> 
        <% } else { %>
            <h3>No students found for this course.</h3>
        <% } %>
    </div>
</div>
<%- include("../partials/footer.ejs") %>