<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="ui header"><%= courseName %> Assignments</h1>
    <hr>
    <table class="ui blue celled table">
        <thead>
            <tr>
                <th><i class="file alternate icon"></i>Assignment</th>
                <th><i class="chart bar icon"></i>Points</th>
                <th><i class="lock open icon"></i>Released</th>
                <th><i class="lock closed icon"></i>Due</th>
            </tr>
        </thead>
        <tbody>
            <% docs.forEach((doc) => { %>
            <tr>
                <td data-label="assign-name"><a href="/courses/<%=courseId%>/assignments/<%=doc._id%>"><%= doc.name %></a></td>
                <td data-label="assign-points"><%= doc.points %></td>
                <td data-label="assign-released"><%= doc.released %></td>
                <td data-label="assign-due"><%= doc.due %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("../partials/footer.ejs") %>