<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="info-header">Assignment Information</h1>
    <div class="ui segment">
        <h2><i class="file alternate icon"></i><%= doc.name %></h2>
        <p><i class="chart bar icon"></i><%= doc.points %> points</p>
        <p><i class="lock open icon"></i>Released on <%= doc.released %></p>
        <p><i class="lock closed icon"></i>Due on <%= doc.due %></p>
        <form action="/courses/<%=courseId%>/assignments/<%= doc._id%>?_method=DELETE" method="POST">
            <a href="/courses/<%=courseId%>/assignments/<%=doc._id%>/edit" class="ui blue basic button">Edit</a>
            <input type="submit" value="Delete" class="ui red basic button">
        </form>
    </div>
</div>
<%- include("../partials/footer.ejs") %>